@model SLMS.WebApp.Models.LibraryResourceViewModel

@{
    ViewData["Title"] = "Resource Details";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light p-2 rounded shadow-sm mb-3">

        <li class="breadcrumb-item">
            <a asp-controller="Home"
               asp-action="Index">
                Dashboard
            </a>
        </li>

        <li class="breadcrumb-item">
            <a asp-controller="LibraryResource"
               asp-action="Index">
                Library Resources
            </a>
        </li>

        <li class="breadcrumb-item active"
            aria-current="page">
            Resource Details
        </li>

    </ol>
</nav>
<div class="card shadow-sm">
    <div class="card-body">

        <h3>Resource Details</h3>
        <hr />

        <div class="mb-3">
            <strong>ID:</strong>
            @Model.Id
        </div>

        <div class="mb-3">
            <strong>Category :</strong>
            @Model.CategoryName
        </div>

        <div class="mb-3">
            <strong>Resource Type:</strong>
            @Model.ResourceType
        </div>

        <div class="mb-3">
            <strong>Title:</strong>
            @Model.Title
        </div>
        <div class="mb-3">
            <strong>Shelf :</strong>
            @Model.ShelfName
        </div>
        <div class="mb-3">
            <strong>Author:</strong>
            @Model.Author
        </div>

        <div class="mb-3">
            <strong>Publisher:</strong>
            @Model.Publisher
        </div>

        <div class="mb-3">
            <strong>ISBN:</strong>
            @Model.ISBN
        </div>

        <div class="mb-3">
            <strong>Publication Year:</strong>
            @Model.PublicationYear
        </div>

        <a asp-action="Index"
           class="btn btn-secondary">
            Back
        </a>

    </div>
</div>